body {
    font-family: "Courier New", Courier, monospace;
    background: url(samule-sun-471798-unsplash.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: cursive;
}


a {
   font-family: 'Chakra Petch', sans-serif;
}

h1 {
    font-size: 40px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
